$gridSize: 12;
$gridColumnGap: 24px;

.grid {
    display: grid;
    grid-template-columns: repeat($gridSize, 1fr);
    grid-column-gap: $gridColumnGap;
}

.grid--1col { $gridSize: 1; }
.grid--2col { $gridSize: 2; }
.grid--3col { $gridSize: 3; }
.grid--4col { $gridSize: 4; }
.grid--5col { $gridSize: 5; }
.grid--6col { $gridSize: 6; }
.grid--7col { $gridSize: 7; }
.grid--8col { $gridSize: 8; }
.grid--9col { $gridSize: 9; }
.grid--10col { $gridSize: 10; }
.grid--11col { $gridSize: 11; }

/*
    ==== FOR DEBUG ONLY ====
.grid__col {
    min-height: 50px;
    background-color: rgb(0, 191, 255, 0.5);
}
*/

.grid__col--vcentered {
    align-self: center;
}

.grid__col--span2 { grid-column-end: span 2; }
.grid__col--span3 { grid-column-end: span 3; }
.grid__col--span4 { grid-column-end: span 4; }
.grid__col--span5 { grid-column-end: span 5; }
.grid__col--span6 { grid-column-end: span 6; }
.grid__col--span7 { grid-column-end: span 7; }
.grid__col--span8 { grid-column-end: span 8; }
.grid__col--span9 { grid-column-end: span 9; }
.grid__col--span10 { grid-column-end: span 10; }
.grid__col--span11 { grid-column-end: span 11; }
.grid__col--span12 { grid-column-end: span 12; }

@media (max-width: 767px) {
    .grid--1col,
    .grid--2col,
    .grid--3col,
    .grid--4col,
    .grid--5col,
    .grid--6col,
    .grid--7col,
    .grid--8col,
    .grid--9col,
    .grid--10col,
    .grid--11col,
    .grid--12col {
        $gridSize: 12;
    }
    

    .grid__col,
    .grid__col--span2,
    .grid__col--span3,
    .grid__col--span4,
    .grid__col--span5,
    .grid__col--span6,
    .grid__col--span7,
    .grid__col--span8,
    .grid__col--span9,
    .grid__col--span10,
    .grid__col--span11,
    .grid__col--span12 {
        grid-column-end: span $gridSize;
    }
}

