.header {
    position: relative;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.header,
.topbar {
    background-color: rgba(18, 48, 69, var(--tw-bg-opacity));
}
.main-nav {
    margin-left: auto;
    margin-right: auto;
    --tw-bg-opacity: 1;
    background-color: rgba(18, 48, 69, var(--tw-bg-opacity));
}
@media (min-width: 1024px) {
    .main-nav {
        top: 41px;
        background-color: transparent;
    }
}
.main-nav-desktop {
    margin-left: auto;
    margin-right: auto;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
@media (min-width: 1024px) {
    .main-nav-desktop {
        width: 100%;
    }
    @media (min-width: 640px) {
        .main-nav-desktop {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .main-nav-desktop {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .main-nav-desktop {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .main-nav-desktop {
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .main-nav-desktop {
            max-width: 1536px;
        }
    }
    .main-nav-desktop {
        display: flex;
    }
}
.main-nav-desktop__menu-list {
    display: flex;
}
.main-nav-desktop__menu-list > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
@media (min-width: 1024px) {
    .main-nav-desktop__menu-list > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
    }
}
.main-nav-mobile {
    display: flex;
    width: 100%;
    padding: 2rem;
}
@media (min-width: 1024px) {
    .main-nav-mobile {
        display: none;
    }
}
.main-nav-mobile__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.main-nav-mobile__menu {
    display: none;
}
.main-nav__item {
    display: inline-flex;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.main-nav__link-item {
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(136, 151, 162, var(--tw-text-opacity));
}
.main-nav__link-item:hover {
    --tw-text-opacity: 1;
}