$headerHeight: 100px;
  
.header {
    height: $headerHeight;
    background-color: $primaryDarkBlueColor;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.07);
}

.header__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
flex-shrink: 0;
line-height: 0;
margin-right: 50px;
width: 220px;
height: 76px;
}

.header__menu {
display: flex;
margin-right: auto;
}

.header__menu-item {
font-size: 16px;
line-height: 24px;
font-weight: bold;
text-decoration: none;
color: white;
}

.header__menu-item:not(:last-child) {
margin-right: 40px;
}
  