.topbar {
    position: -webkit-sticky;
    position: sticky;
    display: none;
    --tw-bg-opacity: 1;
    background-color: rgba(18, 48, 69, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
@media (min-width: 1024px) {
    .topbar {
        display: flex;
    }
}
.topbar__container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: flex-end;
}
@media (min-width: 1024px) {
    .topbar__container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .topbar__container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .topbar__container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .topbar__container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .topbar__container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .topbar__container {
            max-width: 1536px;
        }
    }
    .topbar__container {
        display: flex;
    }
}
.topbar__nav {
    display: flex;
}
.topbar__nav > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.topbar__nav-links {
    display: flex;
}
.topbar__nav-links > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}