:root {
  --container-max-width: 1280px;
  --padding-width: 160px;
}

.container {
  box-sizing: border-box;
  max-width: var(--container-max-width);
  width: calc(100% - var(--padding-width) * 2);
  margin: 0 auto;
}
