$primaryDarkBlueColor: #123045;
$primaryZestyOrangeColor: #F18921;

$grayColor: #E6E6E6;
$richGrayColor: #606163;
$yellowColor: #F1B81B;
$alertOrangeColor: #F15F22;
$softTealColor: #009A84;

$primaryGradient: linear-gradient(94.44deg, #FFB510 18.14%, #F48120 90.57%);
  